<h1>Musician Market</h1>

<%= link_to "Sell Instrument", new_listing_path %>

<ul>
    <%for listing in @listings %>
    <li>
        <%# linking to the correct show pages %>
        <%# we have to give listing_path an id because its a dynamic route - i.e. needs an id %>
        <%= link_to "#{listing.title} - #{number_to_currency(listing.price)}", listing_path(listing.id) %>      
    </li>
    <% end %>
</ul>